# Managed by Ansible. This file may be overwritten when playbooks are run!

# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH=/{{ zsh_user_home_dir }}/{{ zsh_user.name }}/{{ oh_my_zsh_install_directory }}

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="{{ oh_my_zsh_zsh_theme }}"

# Uncomment the following line to use case-sensitive completion.
#CASE_SENSITIVE="{{ oh_my_zsh_case_sensitive }}"

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
#HYPHEN_INSENSITIVE="{{ oh_my_zsh_hyphen_insensitive }}"

# Uncomment the following line to disable bi-weekly auto-update checks.
#DISABLE_AUTO_UPDATE="{{ oh_my_zsh_disable_auto_update }}"

# Uncomment the following line to change how often to auto-update (in days).
#export UPDATE_ZSH_DAYS={{ oh_my_zsh_update_zsh_days }}

# Uncomment the following line to disable colors in ls.
#DISABLE_LS_COLORS="{{ oh_my_zsh_disable_ls_colors }}"

# Uncomment the following line to disable auto-setting terminal title.
#DISABLE_AUTO_TITLE="{{ oh_my_zsh_disable_auto_title }}"

# Uncomment the following line to enable command auto-correction.
#ENABLE_CORRECTION="{{ oh_my_zsh_enable_correction }}"

# Uncomment the following line to display red dots whilst waiting for completion.
#COMPLETION_WAITING_DOTS="{{ oh_my_zsh_completion_waiting_dots }}"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
#DISABLE_UNTRACKED_FILES_DIRTY="{{ oh_my_zsh_disable_untracked_files_dirty }}"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
#HIST_STAMPS="{{ oh_my_zsh_hist_stamps }}"

# Would you like to use another custom folder than $ZSH/custom?
#ZSH_CUSTOM={{ oh_my_zsh_zsh_custom }}

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=({{ oh_my_zsh_plugins | join(" ") }})

source $ZSH/oh-my-zsh.sh

# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# ssh
# export SSH_KEY_PATH="~/.ssh/dsa_id"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

